body {
    padding: 10px;
}

.Alcen {
  text-align: center;
}

.Listing_item {
  text-align: center;
  display: inline-block;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
}


.Form_field {
  text-align: center;
  display: inline-block;
  padding: 10px;
}
