{% extends "auctions/layout.html" %}

{% block body %}
<div class="Alcen">
  <h1> Create Listing</h1>

<form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="containter">
    <div class="row justify-content-center">
      <div class="col-2">
        <label class="form-label"> {{form.item.label_tag }} </label>
      <br>
      <div class="border">
        {{ form.item }}
      </div>

      </div>

      <div class="col-2">
        <label class= "form-label"> {{form.price.label_tag }} </label>
        <br>
        <div class="border">
          {{ form.price }}
        </div>
      </div>

      <div class="col-2">
        <label class="form-label"> {{form.Img_url.label_tag }} </label>
        <br>
        <div class="border">
          {{ form.Img_url }}
        </div>
      </div>

    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col">
        <label class="form-label"> {{form.description.label_tag }} </label>
        <br>
            {{ form.description }}
      </div>
    </div>
</div>

      <input type="submit" name="submit" value="Submit">

</form>

</div>
{% endblock%}
