{% extends "auctions/layout.html" %}

{% block body %}



<div class="Alcen">

<h1> {{ item }} </h1>
{% if not item.is_active %}
<h3> (Auction closed) </h3>
{% endif %}

<p> <img src={{item.Img_url}} alt={{item}} width="200" height="300"></p>

<p>{{ item.description }}</p>
<h3>Price: €{{ item.price }}</h3>
<h3> Owner: {{ item.owner }} </h3>
<br>
{% if not item.is_active %}
{% if winner == "" %}
<h3>Auction winner: No winner </h3>
{% else %}
<h3>Auction winner: {{ winner }} </h3>
{% endif %}
{% endif%}

<div>
    {% if item.is_active %}
    {% if user.is_authenticated %}
    {% if user == item.owner %}
    <a href="{% url 'close_auction' item.id %}"> Close auction </a>
    {% else %}
    {% if item in watchlist %}
    <ul>
        <a class="nav-link" href="{% url 'remove_watchlist' item.id %}">Remove from watchlist</a>
    </ul>
    {% else %}
    <ul>
        <a class="nav-link" href="{% url 'add_watchlist' item.id %}">Add to watchlist</a>
    </ul>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}

</div>
<br>

<div class="containter">
  <div class="row justify-content-center">
    <div class="col">
      <form action="{% url 'listing' item.id %}" method="post" enctype="multipart/form-data">
        <div class="border">
          {% if item.is_active %}
          {% if user.is_authenticated %}
        <h3>Current Bids:</h3>
        {% if not bids  %}
        <p>No bids yet, be the first one to place an offer!</p>
        {% else %}
        {% for bid in bids %}
        <ul>
          {{bid.bidder}}: €{{bid.bid_price}}
        </ul>
        {% endfor %}
        {% endif %}
        <br>

        {% csrf_token %}
        {{ bid_form }}
        <input type="submit" name="Submit" value="Submit">
        </form>
        {% if messages %}
        {% for message in messages %}
        <div class="Mydiv">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}

      {% else %}
          Sign in to place bid.
      {% endif %}
      </div>

      </div>
      <div class="col">
        <div class="border">


        <h1> Comments:</h1>
        {% for comment in comments%}
        <ul class="left">
          {{comment.commenter}}: <br>
          "{{comment.comment_input}}"
        </ul>
        {% endfor%}
        <form action="{% url 'listing' item.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label class="form-label"> Place your comment: </label>
          <br>
          {{ comment_form.comment_input }}
          <br>
          <input type="submit" name="Submit" value="Submit">
          </form>
          </div>
      </div>
    </div>
  </div>

{% endif %}
{% endblock %}
