{% extends "auctions/layout.html" %}

{% block body %}
<div class="Alcen">


<h1> {{ item }} </h1>
{% if not item.is_active %}
<h3> (Auction closed) </h3>
{% endif %}

<p> <img src={{item.Img_url}} alt={{item}} width="200" height="300"></p>

<p>{{ item.description }}</p>
<h3>Price: €{{ item.price }}</h3>
<h3 class="Bids" >Owner: {{ item.owner }} </h3>

<div>
    {% if item.is_active %}
    {% if user.is_authenticated %}
    {% if user == item.owner %}
    <a href="{% url 'close_auction' item.id %}"> Close auction </a>
    {% else %}
    {% if item in watchlist %}
    <ul>
        <a class="nav-link" href="{% url 'remove_watchlist' item.id %}">Remove from watchlist</a>
    </ul>
    {% else %}
    <ul>
        <a class="nav-link" href="{% url 'add_watchlist' item.id %}">Add to watchlist</a>
    </ul>
    {% endif %}
    {% endif %}

</div>



<div class="Bids">
    <form action="{% url 'listing' item.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ bid_form }}
      <input type="submit" name="Submit" value="Submit">
      </form>
      {% if messages %}
      {% for message in messages %}
      <div class="Mydiv">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}

    {% else %}
        Sign in to place bid.
    {% endif %}


<br>
<h3>Current Bids:</h3>
{% if not bids  %}
<p>No bids yet, be the first one to place an offer!</p>
{% else %}
{% for bid in bids %}
<ul>
  {{bid.bidder}}: €{{bid.bid_price}}
</ul>
{% endfor %}
{% endif %}
</div>

<br><br>
<div>
  <h1> Comments:</h1>
  {% for comment in comments%}
  <ul>
    {{comment.commenter}}: {{comment.comment_input}}
  </ul>
  {% endfor%}
  <form action="{% url 'listing' item.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" name="Submit" value="Submit">
    </form>
</div>

{% else %}
{% if winner == "" %}
<h3>Auction winner: No winner </h3>
{% else %}
<h3>Auction winner: {{ winner }} </h3>
{% endif %}
</div>
{% endif %}
{% endblock %}
