{% extends "auctions/layout.html" %}


{% block body%}

<div class="Alcen">
  <h1>My Watchlist</h1>

  <div class="containter">
    <div class="row gx-0">
      {% for item in watchlist %}
        <div class="col-sm-3 gy-4">
          <div class="inputs">
            <a href="{% url 'listing' item.id%}"> {{ item }}
            <p> <img src={{item.Img_url}} alt={{item}} width="200" height="300"></p>
            </a>
            <p>Current price: {{item.highest_bid}} <br>
            By: {{item.owner}}</p>
            <p> {{item.description}} </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>

{% endblock %}
